<!doctype html>
<html>
 <head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="app.js"></script>

 </head>
 <body ng-app='myapp'>

  <div ng-controller="homeCtrl">

  <table >

  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Pet Name</th>
  </tr>

  <tr ng-repeat="people in house">
    <td>{{people.id}}</td>
    <td>{{people.firstname}}</td>
    <td>{{people.lastname}}</td>
    <td>{{people.age}}</td>
    <td>{{people.petname}}</td>
  </tr>

  </table>
  <input type="text" placeholder="First Name" ng-model="person.fname">
  <input type="text" placeholder="Last Name" ng-model="person.lname">
  <input type="text" placeholder="Age" ng-model="person.age">
  <input type="text" placeholder="Pet Name" ng-model="person.pname">
  </div>

 </body>
</html>
